<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Uncomment if you are using the logback plugin for eclipse
	<consolePlugin/>
	-->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%p] [%thread] %logger - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>log/screenshare.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
		<File>log/error.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>WARN</level>
    	</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERRORFILE" />
	</root>

</configuration>
